In [7]:
a=10
a

10

In [9]:
a='c'

In [11]:
type(a)
print(a)

c

In [12]:
print(a)

c

In [13]:
print(123)

123

## How to print data

In [1]:
age=32
### By Using f. 
print(f"My age is : {age}")

My age is : 32

In [2]:
name='Radhe'

In [3]:
### By Using .format()
print("My name is {} and age is {}".format(name,age))

My name is radhe and age is 32

In [7]:
### By using placeholder with .format()
print("My name is {fname} and age is {fage}".format(fage=age,fname=name))

My name is radhe and age is 32

In [8]:
degree='MCA'

In [11]:
print("My age is {} and i have completed: my degree of {} with the name is {}".format(age,degree,name))

My age is 32 and i have completed: my degree of MCA with the name is radhe

## Control flow
### 1. Decission making Statements
   - if
   - if else
   - if elif else
   - Nested if
   - Single statement Suites

In [12]:
## If Statements
age=19
if age>=18:
    print("You are eligible to Vote")

You are eligible to Vote

In [14]:
## How to give runtime data , By using input()
## Default data type of input() is String , for any other data you can type cast
name=input("Enter your name")

Enter your name Radhashyam

In [15]:
name

'Radhashyam'

In [16]:
age=int(input("Enter your age"))

Enter your age 29

In [17]:
age

29

In [18]:
type(age)

int

In [20]:
## Task-1
## If age is >=18 and <=45 , print you are young blood

age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young Blood")

Enter your age 24

You are young Blood

In [22]:
## if else statement
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young Blood")
else:
    print("Thank you we will late you know")

Enter your age 55

Thank you we will late you know

In [ ]:
Task-2
## You are in mall - Feb 14th discount any product
## if product price is >1000rs , you get 20% off - Print Product Price
## if product price is <= 1000 , you get 30% off - Print Product Price

In [30]:
productPrice=int(input("Enter Product Price"))
if productPrice>1000:
    print("The product price is : {} ".format(productPrice*0.8))
else:
     print("The product price is : {} ".format(productPrice*0.7))

Enter Product Price 3000

The product price is : 2400.0

In [ ]:
Task-3
## You are in mall - Feb 14th discount any product
## if product price is >3000rs , you get 20% off - Print Product Price
## if product price is >2000rs and <= 3000 , you get 30% off - Print Product Price
## if product price is <= 2000 and >=1000 , you get 40% off - Print Product Price

NameError: name 'Task' is not defined

In [3]:
productPrice=int(input("Enter Product Price"))
if productPrice>3000:
    if productPrice==4000:
        print("You will get GOA Trip")
    print("The product price is : {} ".format(productPrice*0.8))
elif productPrice>2000 and productPrice<=3000:
    if productPrice==2999:
        print("You will get Additional gift")
    print("The product price is : {} ".format(productPrice*0.7))

elif productPrice>=100 and productPrice<=2000:
    print("The product price is : {} ".format(productPrice*0.6))
else:
    print("Lets Go for a Tea")

Enter Product Price 2999

You will get Additional gift
The product price is : 2099.2999999999997

In [7]:
## Single Statement Suites
val=int(input("Enter the value"))
if(val<=999):print("i can buy it")
else:
    print("Dont sell here")

Enter the value 1000

Dont sell here

## Loop Statements
1. While Loop
2. For Loop
3. nester loop
4. Loop Control (Break, continue,pass)

## While Loop

In [13]:
## While Loop , Using While and else
joining_age=int(input("Enter your Joining age"))
while joining_age<=60: 
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Sorry its time to retire")

Enter your Joining age 61

Sorry its time to retire

In [17]:
##Task-4
## Atm machine with 1000rs

total_amount=int(input("Enter the total amount"))

while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

Enter the total amount 200

200
100
Put more money bank people

## For Loop

In [1]:
## for loop 

lst=["Radhe",1,2,3,4,5,"Shyama"]

In [2]:
lst

['Radhe', 1, 2, 3, 4, 5, 'Shyama']

In [3]:
for x in lst:
    print(x)

Radhe
1
2
3
4
5
Shyama

In [4]:
fruits_list=["banana","apple","strawery","lichi","mango","cherry"]

In [5]:
for x in fruits_list:
    print(x)

banana
apple
strawery
lichi
mango
cherry

In [9]:
for x in fruits_list:
    print(x,end=' ')
    if(x=="banana"):print(" This is so sweety")

banana  This is so sweety
apple strawery lichi mango cherry

In [12]:
fruit="mango"
for x in fruit:
    print(x, end=' ')

m a n g o

In [13]:
fruit[2]

'n'

## Nested loops

In [17]:
## Nested Loops ,  range
range(1,6)

for i in range(1,6,2):
    print(i,end=' ')

1 3 5

In [25]:
## nested loop
n=4

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****

In [26]:
## loop Controls
## Break and Continue
fruits_list=["banana","apple","strawery","lichi","mango","cherry"]
for i in fruits_list:
    print(i)

banana
apple
strawery
lichi
mango
cherry

In [27]:
for i in fruits_list:
    if i=="apple":
        print("The fruit is apple")
    print(i)

banana
The fruit is apple
apple
strawery
lichi
mango
cherry

## Break

In [28]:
## Break

for i in fruits_list:
    if i=="apple":
        print("The fruit is apple")
        break
    print(i)

banana
The fruit is apple

## Continue

In [30]:
## Continue

for i in fruits_list:
    if i=="apple":
        print("The fruit is apple")
        continue
    print(i)

banana
The fruit is apple
strawery
lichi
mango
cherry